{% extends 'layout/project-page.html' %}
{% block content %}
    <p>
        The habit tracking app is a web app where users can save daily habits or goals that they want to achieve as a reminder. Users can mark an habit as completed if it has been carried out every single day. An habit added will be shown every day except for days before the day it was saved. 
    </p>
    <p>
        The web app was mainly written in python, built with Flask web application framework and MongoDb for the backend. While building this app, I gained more experience of setting up Flask applications and projects in general. I also learned a lot about testing with pytest.
    </p>
{% endblock %}
