{% extends 'layout/project-page.html' %}
{% block content %}
    <p>
        Microblog app is a simple web app where users can post and read blogs. It has a form for users to submit a blog post and displays all posted blogs.
    </p>
    <p>
        The web app was written in Python, with the Flask web application framework and MongoDB for the backend. This was my first time using the Flask framework, I got familiar with Flask by building this app. I also learned about the Python MongoDB framework Pymongo.
    </p>
{% endblock %}
