{% extends 'layout/project-page.html' %}
{% block content %}
    <p>
        Modern Stays is an online vaction rental space where users can book a place to stay in their desired location for the number of days they want. It has a well designed form and a calendar where users can search for a location and select their check in and check out days, then the page will return a list of stays that are available for the desired days selected where the users can choose from.
    </p>
    <p>
        The web app was mainly written in typescript, built with NodeJs and MongoDb for the backend. Other dependencies include ExpressJs to help manage servers and routes, Ejs as the template engine, Passport for the authentication, Mapbox to show stay locations on the map, Helmet etc.  
    </p>
    <p>
        It was a very interesting app to build for me as this was my first real app that I built from scratch all by myself. There were a lot of challenges but I learned a lot from building this app and it helpedme develop my skill even more. The main challenge I will say was designing the app especially building the calendar from scratch, other than that the backend work were less complicated for me.
    </p>
{% endblock %}
