{% extends 'layout/base.html'%} 
{% block main %}
<p>
  Hi, I'm Afolabi! I am a software engineer that loves to design, develop and
  build sophisticated apps. I started learning to code 3 years ago and since
  then it has been a major part of my life, the challenge to learn new
  programming skills and solving problems while developing my current skills
  gets me excited.
</p>
<p>
  I started learning to code with Javascript. The versatility of Javascript and
  it's great community support was the reason why I made it my first choice.
  After building interactive static apps for a while, I dived deeper ato learn
  backend development.
</p>
<p>
  I wanted to be able to add machine learning models to my apps so I started
  learning Python programming language as it was the best choice in my opinion
  and a whole lot of other developers to get into machine learning.
</p>
<p>
  I have been able to learn and gather experience with programming libraries and
  frameworks such as Nodejs and Flask. I have also worked extensively with
  relational and non-relational database programs like PostgreSQL, MySQL and
  MongoDB.
</p>
<p>
  I am currently learning Machine Learning and Deep Learning to build models. While also learning React and React Native so I can be able to build highly sophisticated apps that solve complex problems and make human life easier.
</p>
{% endblock %}
